*{
    margin: 0;
}
.Rojo{
    background-color: red;
    width: calc((100% / 3) - 30px);
    height: 20%;
}
.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.Azul{
    background-color: aquamarine;
    width: calc((100% / 3) - 30px);
    height: 20%;
}
.Dorado{
    background-color: gold;
    width: calc((100% / 3) - 30px);
    height: 20%;
}
